.taille_img_profil{
    width : 55px;
    height : 55px;
    float:left;
    margin-right: 5px;
}
.title-menu-accueil{
    font-size: 14px;
}
.text-card-evenement-accueil{
    font-size: 12px;
}
.title-card-evenement-accueil{
    font-size: 13px; 
    font-weight: bold;
}