.taille_img_profil{
    width : 55px;
    height : 55px;
    float:left;
    margin-right: 5px;
}
.title-menu-accueil{
    font-size: 12px;
}
.text-card-evenement-accueil{
    font-size: 12px;
}
.title-card-evenement-accueil{
    font-size: 13px; 
    font-weight: bold;
}

.rating {
			width: 226px;
			margin: 0;
			font-size: 45px;
			overflow:hidden;
		}
		.rating a {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.rating2 {
			direction: rtl;
		}
		.rating2 a {
			float:none
		}
		
.ratingD {
			width: 226px;
			margin: 0;
			font-size: 45px;
			overflow:hidden;
		}
		.ratingD a {
			float:right;
			color: orange;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}		
		